.parraf{
    display: inline-block;
    width: 60px;
}
.section{
    position: relative;
    display: flex;
    justify-content: space-around;
}
.btn{
    position: absolute;
    top: 0;
    left: 0;
    border: 10px;
    border-color: red;
    border-style: dotted;
    padding: 10px;
}

.btn2{
    position: absolute;
    top: 0;
    right: 0;
    background-color: blue;
    border: 10px;
    border-color: red;
    border-style: dotted;
    padding: 10px;

}
.nav{
    position: fixed;
    z-index: 3;
    background-color: green;
}